/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}
/*
  -Từ trên xuống dưới
  -Từ ngoài vào trong
  -Tổng quan đến chi tiết
  */

/* 
  1. Vi tri
  2. Kich thuoc
  3. Mau sac
  4. Kieu dang (kieu chu, hinh tron, vuong...)
  */

/* Common */
.text-center {
  text-align: center !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

/* Tạo element giả */
.row::after {
  content: "";
  display: block;
  clear: both;
}
/*.................*/

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.33333%;
}

.pull-right {
  float: right;
}

.btn {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 11px 16px;
  margin-top: 15px;
  padding-top: 16px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.clear {
  clear: both;
}

/* .row::after {
    clear: both;
    display: block;
    content: "";
  } */

.text-white {
  color: #fff !important;
}

/* Main */
#main {
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav {
  display: inline-block;
}

li {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#header .search-btn {
  float: right;
  padding: 0 20px;
  cursor: pointer;
}

#header .search-btn:hover {
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("./ass");
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {
}

#content .content-section {
  width: 800px;
  padding: 64px 0 112px;
  margin-right: auto;
  margin-left: auto;
}

#content .section-heading {
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  margin-top: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .member-name {
  font-size: 16px;
}

#content .list-member {
  margin-top: 48px;
  /* margin-bottom: 48px;
    overflow: hidden;  */
}

/* #content .item-member {
    float: left;
    width: 33.33333%;
    text-align: center;
  } */

#content .avt-member {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* tour section */
.tour-section {
  background-color: #000;
}
.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}

.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  margin-top: -3px;
}

/* Places */
.places-list {
  margin-top: 32px;
}

/* .places-item {
    float: left;
    width: 33.33333%; 
    padding: 0 8px; 
  } */

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.places-body {
  padding: 16px;
  font-size: 15px;
  background-color: #fff;
}

.places-heading {
  font-size: 15px;
}

.places-time {
  padding-top: 15px;
  color: #757575;
}

.place-description {
  padding-top: 15px;
  line-height: 1.4;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  max-width: calc(100% -32px);
  animation: modalFadeIn ease 0.4s;
}

.modal-header {
  background-color: #009688;
  color: #fff;
  height: 130px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}

.modal-close:hover {
  background-color: #ccc;
  color: #000;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.icon-ti-bag-header {
  margin-right: 16px;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-tickets:hover {
  background-color: #ccc;
  color: #000;
}

#buy-tickets {
  background-color: #009688;
  width: 100%;
  padding: 18px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196f3;
}

/* Contact */
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

/* .contact-form .form-submit-btn {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 16px;
  float: right;
} */

/* .form-submit-btn:hover {
  background: #ccc;
  color: #000;
  border: none;
  cursor: pointer;
} */

/* Map section */
.map-section img {
  width: 100%;
  filter: grayscale(50%);
}

/* footer section */

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list {
  font-size: 20px;
}

#footer .Copyright {
  font-size: 15px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer .Copyright a {
  color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}

/* Tạo hoạt ảnh  */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
